/* .narvar_text {
  background-color: white;
} */

.latitude {
  background-color: #00e6b8;
  color: white;
  margin: 1rem;
}

.heading_text {
  font-family: serif;
  padding: 1rem;
  color: #ffffff !important;
}

.background {
  background-color: #f2f2f2;
}
.card_margin {
  padding: 3rem;
  padding-right: 2rem;
}

h5 {
  color: #00e6b8;
  font-family: serif;
  padding: 1rem;
}
