.narvar-text {
  background-color: white !important;
  padding: 0rem;
}

.nav-right {
  height: 100%;
}

.latitude {
  background-color: #0bada6;
  color: white;
  /* margin: 1rem; */
}

.heading_text {
  font-family: serif;
  padding: 1rem;
  color: #ffffff !important;
  height: 100%;
  width: 10rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.background {
  background-color: #f2f2f2;
}
.card-padding {
  padding: 3rem 1rem 0 2rem;
  /* padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 1rem; */
}

h5 {
  color: #0bada6;
  font-family: serif;
  padding: 1rem;
}
